body{
    width: 960px;
    margin:auto;
    border: 480px solid transparent;
    -moz-border-image: -moz-radial-gradient(circle, #c4bdb8 0%, #FFFFFF 100%);
    -webkit-border-image: -webkit-radial-gradient(circle, #c4bdb8 0%, #FFFFFF 100%);
    border-image: radial-gradient(circle, #c4bdb8 0%, #FFFFFF 100%);
    border-image-slice: 1;
    border-top-style: none;
    border-bottom-style: none;
    /*c4bdb8*/
}

/**********************/
/* content */
/**********************/
.header {
    width: 100%;
	font-weight: bold;
    font-family: Oswald, sans-serif;
    color:#63211e;
    background-color: rgba(62, 194, 209, 0.25);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-family: Merriweather, serif;
    color: #63211e;
}

li {
	font-size: 20px;
}

#content {
    width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	text-align: left;
    padding-bottom: 60px;
<<<<<<< HEAD
    background-color:#4f6026;
    
    

    
=======
    background-color:#dff3fc;
>>>>>>> 77641b0f40716bc6d0a1595aa9a9e535526586fe

}
.column_one {
    width: 100%;
    float: left;
    background-color: #dff3fc;
    font-family: Merriweather, serif;
}

#content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
    max-width: 100%;

}

#ad {
    max-width: 100%;
    background: c4bdb8;
}

/***********/
/* top */
/***********/
#top {
    width: 100%;
    margin-left: auto;
	margin-right: auto;
}

.logo {
    width:100%;
    float:left;
}


#hero {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    color:#35580c;
    background: #a2c65f;
}

#hero > img {
    width: 100%;
    max-height: 500px;
}


.logo > img {
    max-width: 100%;
}

.nav_bar {
    text-align: center;
    width: 100%;
    float:right;
    background-color:#89c353;
    height: 45px;
}

.nav_bar > span {
    padding: 10px;
}

.nav a {
    display: inline-block;
    font-size: 1.3em;
	font-weight: bold;
    color:#1c514b;
    font-family: Oswald, sans-serif;
    text-decoration:none;
    height: 45px;
    line-height: 45px;
    margin:0 auto;
}


/***********/
/* footer */
/***********/
footer {
    width: 100%;
    margin-top: auto;
    background-color: #dff3fc;
}

#downtown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
}

#iconbox {
    width: 490px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.icon {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

#iconbox img {
    width:50px;
    height: 50px;
    margin: auto;
}

#datebox {
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 5px;
    color:lightslategrey;
    text-align: center;
    height: 20px;
    font-weight: bold;
}

/***************/
/* Events.html */
/***************/
table {
    border-top: solid 2px #80b44e;
    border-bottom: solid 2px #80b44e;
    border-left: solid 2px #80b44e;
    border-spacing: 0;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    margin: 0px auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 65%;
}


tr td{
    padding-right: 5em;
    padding-left: 5em;
    text-align: left;
}

th {
    border-right: solid 2px #80b44e;
    padding: 5px;
    border-bottom: solid 2px #80b44e;
    text-align: center;
}

td {
    border-right: solid 2px #80b44e;
    padding: 0.5em;
}

caption {
    caption-side: top;
    color:#2a3314;
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 1em;
}
/**************/
/* Vendors */
/**************/

#vendor_list > li{
    text-align: center;
}

/**************/
/* responsive */
/**************/

@media screen and (min-width:0px) and (max-width: 480px) {
    h1, h2 {
        font-size: 130%;
    }
    
    body {
        width: 95%;
        border-style: none;
    }
    
    .nav_bar {
        height: auto;
    }

    .nav_bar > span {
        padding: 0;
    }

    .nav a {
        border: solid 1px #2a3314;
        display:block;
    }
    
    #content {
        font-size: 140%;
    }
    
    #hero {
        display:none;
    }
    
    #ad {
        display:none;
    }
    
    #iconbox {
        width: 240px;
    }
    
    .icon {
        display:inline;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    
    footer img{
        max-width: 100%;
    }
    
    /***************/
    /* Events.html */
    /***************/
    
    table {
        width: 80%;
        font-size: 80%;
    }
    
    tr td{
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    
}


@media screen and (min-width:480px) and (max-width: 768px) {
    body {
        width: 95%;
    }
    
    .nav_bar {
        font-size: 75%;
    }
    
    .nav_bar > span {
        padding: 5px;
    }
    
    #iconbox {
        width: 380px;
    }
    
    .icon {
        display: inline;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    /***************/
    /* Events.html */
    /***************/
    
    table {
        width: 80%;
    }
    
    tr td{
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width: 960px) {
    
    body {
        width:95%;
    }
    
    /***************/
    /* Events.html */
    /***************/
    table {
        width:75%;
    }
}





